    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Get Involved</h2>
                    <p>ProHealth has a series of training programs for K-12 students, undergraduate, graduate, and postdoctoral researchers to develop the next generation of innovators and scholars.</p>
                    <p>Get more involved or learn more about our program:</p>
                    <ul>
                      <li>Take a class taught by one of our faculty members: Kay Connelly, Katie Siek, Sriraam Natarajan, Patrick Shih, or James Clawson.</li>
                      <li>Consider applying for an undergraduate research opportunity. We advise students in the UROC, SROC, I499, Y499, CEWiT, ProHealth REU Site, various scholars around campus (e.g., Cox Scholars), CRA-W CREU and DREUs.</li>
                      <li>See our faculty and graduate student research projects and talk to them about their projects during office hours (for faculty) or email the graduate students about their availability.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
