---
---

<!DOCTYPE html>
<html>
    {% include head.liquid %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="body-container">
    <div id="body">
    {% include nav.liquid %}

    <section id="{{ page.title }}" class="container content-section">
      {{ content }}
    </section>
    </div>
    <div id="footer">
    {% include footer.liquid %}
    </div>
    </div>
    {% include js.liquid %}
    </body>
</html>
