<!DOCTYPE html>
<html>
    {% include head.liquid %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.liquid %}
    {% include header.liquid %}
    {% include about.liquid %}
    {% include download.liquid %}
    {% include contact.liquid %}
    {% include footer.liquid %}
    {% include js.liquid %}
    </body>
</html>
